html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root{
  height: 100vh;
  margin: 0;
}
body,input,select,textarea{
  font-size: 1.6em ;
  font-family: Helvetica,Arial , sans-serif;
}
/* style de la classe grid-container qui contient le header le main et footer */
.grid-container{
  display:grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
/* style des liens */
a:hover{
  color:#ff8000;
}
header{
  grid-area: header;
  background-color: #203040;
  color:#ffffff;
  /* ligne 23-24 positionne le texte au centre */
  display: flex;
  align-items: center;
  padding:0.5rem;
}
header a{
  color:#ffffff;
  text-decoration: none;
}
main{
  grid-area:main;
}
footer{
  grid-area: footer;
  background-color: #203040;
  color:#ffffff;
  display: flex;
  justify-content: center;
}